@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cuprum:400,400i,700,700i|Oswald|VT323");


.GameContainer {
	width:550px;
	height:550px;
	position:relative;
	
	text-align:center;
	border-radius:100%;
	background-color:#2D2C2C;
	
	font-family:"Alfa Slab One";
	font-size:1em;
}

/*============================================*/

.ButtonRow {
	width:100%;
	height:50%
}
.CoreButton {
	width:50%;
	height:100%;
	display:inline-block;
	border:10px solid #2D2C2C;
	
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.GreenButton {
	background-color:#00a74a;
	border-top-left-radius:100%;
	border-top-right-radius:10%;
	border-bottom-left-radius:10%;
}
.RedButton {
	background-color:#9f0f17;
	border-top-right-radius:100%;
	border-top-left-radius:10%;
	border-bottom-right-radius:10%;
}
.YellowButton {
	background-color:#cca707;
	border-bottom-left-radius:100%;
	border-top-left-radius:10%;
	border-bottom-right-radius:10%;
}
.BlueButton {
	background-color:#094a8f;
	border-bottom-right-radius:100%;
	border-top-right-radius:10%;
	border-bottom-left-radius:10%;
}

/*============================================*/

.Clickable {
	cursor:pointer;
}
.Clickable:hover {
	transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
}
.Clickable.GreenButton:active {
	background-color:#13ff7c;
}
.Clickable.RedButton:active {
	background-color: #ff4c4c;
}
.Clickable.YellowButton:active {
	background-color:#fed93f;
}
.Clickable.BlueButton:active {
	background-color:#1c8cff;
}

.Clicked {
	transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
}
.Clicked.GreenButton {
	background-color:#13ff7c !important;
}
.Clicked.RedButton {
	background-color: #ff4c4c !important;
}
.Clicked.YellowButton {
	background-color:#fed93f !important;
}
.Clicked.BlueButton {
	background-color:#1c8cff !important;
}

/*============================================*/

.CenterPlate {
	width:55%;
	height:55%;
	position:absolute;
	
	
	top:21.5%;
	left:21.5%;
	
	text-align:center;
	border-radius:100%;
	border:5px solid #2D2C2C;
	background:linear-gradient(black 35%, #ECE7EE 0px);
	background:-webkit-linear-gradient(black 35%, #ECE7EE 0px);
	background:-moz-linear-gradient(black 35%, #ECE7EE 0px);
	background:-o-linear-gradient(black 35%, #ECE7EE 0px);
}

.PlateTitle {
	font-family:"Alfa Slab One";
	font-size:1.5em;
	color:#EAEAEA;
}
.PlateScore {
	font-family:VT323, monospace;
	font-size:3em;
	text-align:center;
	
	color:red;
	background-color:black;
	border-radius:10%;
	padding:3%;
	
	display:inline-block;
	position:relative;
	bottom:10%;
	right:5%;
	min-width:25%;
}
.PlateButton {
	display:inline-block;
	width:15%;
	height:15%;
}
.PlateButton button {
	width:100%;
	height:100%;
	
	border-radius: 100%;
	border:3px solid #2D2C2C;
	cursor:pointer;
}
.PlateButton p {
	font-family:Oswald, sans-serif;
	margin:0;
}

.PlateIndicatorLight {
	width:35%;
	height:35%;
	margin-left:25%;
	margin-bottom:10%;
	
	border-radius:100%;
	border:2px solid #2D2C2C;
	background-color:red;
}
.PlateIndicatorLightOff {
	background-color:#841010 !important;
}





